@font-face {
  font-family: "Arco";
  src: url("./fonts/arco-cyrillic.woff") format("truetype");
}
body {
  font-family: Arco;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0;
  margin: 0;
  background-color: #161131;
}

.font-preload {
  position: absolute;
  top: -100px;
  font-family: "Arco";
}